* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.profile-card {
    width: 300px;
    padding: 20px;
    border: 2px solid #333;
    margin: 20px;
    
    background-color: rgb(54, 74, 164);
    text-align: center;
    border-radius: 10px;
}

.profile-card img {
    width: 100px;
    height: auto;
    border-radius: none;
}

.profile-card button {
    background-color: #101b27;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}